
body{padding-top: 60px;}
#menu-esquerda .li-header{
	font-size:8px;
	color:#999;
	height:10px;
	line-height:10px;
	border-top:1px dashed #999;
	margin-top:10px;
}
.margin-1{
	margin:1px;
}
.min-height-100{
	min-height:100px;
}
.min-height-400{
	min-height:400px;
}
.album{
	height:100px;
	
}
#conteudoPrincipal{
	min-height: 100vh;
}
#fotoPerfil{
	height:100px;

}
.menuOption{
	border:solid #999 1px;
}
#menu-principal{
	max-height:300px;
	overflow:auto;
}
#menu-esquerda li{
	height:25px;
	line-height:25px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	}

#postagens{
	height:100%;
	overflow-y:auto;
}
#rodape{
	font-family: arial;
	font-size:16px;
	font-weight: 100;
}
#textoInicio{
	font-size:15px;
}
#textoinicio li{
	padding:15px;
	list-style-type:none;
}
#painel-control{
	height:50px!important;		
}
#anuncioTopo{
	height: 50px;
}
#icone-menu{
	margin-top:4px;
	margin-left:5px;
}

#iconeBuscar{
	font-size:30px;
	position:relative;
	top:5px;
	left:-1px;
}
a:hover{
	text-decoration:none;
}

.caixaPadrao{
	box-shadow: 0px 1px 1px rgba(105,105,105,0.5);
	border-radius:1px;
	margin-top:5px;
	background-color:rgb(248, 248, 255);
}
#menuDireita .glyphicon{
	font-size:14px;
}
#menuDireita a{
	color:#fff !important;
}
.menu-option{
	font-size:8px !important;
	min-width: 10px !important;
	margin-top:5px !important;
}

#information{
	font-family: 'Trebuchet MS';
	font-size:12px;
	min-height: 100%;
}
.fontPadrao{
	font-family: Helvetica, Arial, sans-serif;
}
.no-margin{
	margin:0 !important;
	
}
.no-margin-horizon{
	margin-left:0;
	margin-right:0;
}
.no-margin-vertical{
	margin-top:0;
	margin-bottom:0;
}
.no-padding-horizon{
	padding-left:0;
	padding-right:0;
}
.no-padding-vertical{
padding-top:0;
	padding-bottom:0;
}
.no-border{
	border:0;
}
.caixa1 {
	height: 150px;
	font-size:18px;
}
.caixa2 {
	height: 400px;
	border:1px solid orange;
}
#resultado div.listas {
	line-height: 30px;
	width: 100%;
	height: 30px;
}
.fonteTitulos{
	font-size: 36px;
	font-weight: 200;
}
.textoEspecial1{
	font-size:8px;

}
#postagens > .caixaPadrao{
	min-width:50px;
}
#textAreaPost textarea{
	min-width:100%;
	max-width:100%;
	min-height:90px;
	max-height:90px;
	border:0;}

#textAreaPost textarea:focus{
border:0px;
}
#resultado div.listas:hover {
	background-color: rgba(72,209,204,0.3);
}
.margin-top-12{
	margin-top: 12px;
	margin-left:-5px;
}
.top10{
	margin-top:10px;
}

.bottom10{
	padding-bottom:10px;
}
.top-8{
	position:relative;
	top:27px;
}
.no-padding{
	padding:0;
}
#rodape{
	margin-top:30px;
}
ul li{
	list-style-type:none;
}
#cadastroEmpresa input,textarea{
	width: 80%;
}
.caixaDadosEmpresaHead{
	min-height: 100px;
}
.caixaDadosEmpresa{
	height: 45px;
}
#pesquisaLocal{
	height: 100%;
	width:100%;
	border:0;
	padding:0;
	
}
.minHeight30percent{
	min-height:30%;
}
.icone-buscar{
	position: relative;
	top:3px;
	left:11px;
}
	

#nomeEmpresa{
	font-size:20px;
	text-align: center;
	line-height: 100%;
}
div.caixaDadosEmpresa span:first-child{
	font-weight: bolder;
	font-size:15px;
}
#resultado{
	display:none;
	box-shadow: 2px 2px 1px rgba(105,105,105,0.5);
	background-color:#ffffff;
	border:0;
}

#cadastroEmpresa textarea{
	min-width:80% ;
	max-width:80%;
	max-height:20%;
	min-height:20%;
}
#controlePesquisa{
	padding:15px !important;
}
#formPesquisa{
	margin:0 !important;
}
#caixaPesquisa{

	background-color:#fff;
	border-radius:3px;
	height: 40px;
	margin-top:-10px;
}

	
input:focus{
	outline:none;
}
.fundoPadrao{
	background-color:rgba(176, 224, 230, 0.5);
}
.fundoPadrao2{
background-color: rgba(70,130,180, 1)!important;

}
.floatLeft{
	float:left;
}
.notFloat{
	clear:both;
}
.iconeLoginSuperior{
	margin-top:6px;
	font-size:20px !important;
	color:#696969;
}
#menuDireita{
	position:relative;
}
